.footer {
  text-align: center;
  left: 0;
  right: 0;
  padding: $global-vertical-padding 0 ($global-vertical-padding - 30);

  .social-links {
    display: inline-block;
    list-style-type: none;
    overflow: hidden;
    margin-bottom: 15px;

    li {
      float: left;
      padding: 5px 15px;
    }
  }

  @include breakpoint(mobile) {
    padding: 40px 0 10px;
  }
}
