<section class="hero center-all">
  <div class="hero-content center-all-inner">
    <h1 class="name" data-aos="fade-down" data-aos-duration="{{aos-duration}}" data-aos-delay="{{aos-delay}}" data-aos-once="{{aos-once}}">
      <span class="first">Ben</span><span class="surname">Carr</span>
    </h1>
    <div class="job-title" data-aos="fade-up" data-aos-duration="{{aos-duration}}" data-aos-delay="{{aos-delay}}" data-aos-once="{{aos-once}}">
      Software Developer
    </div>
  </div>
  <a data-scroll href="#about" class="chevron link-unstyled"></a>
</section>
