<nav class="navbar navbar-sticky">
  <div class="container container-flush">
    <div class="navbar-left">
      <div class="logo">BENCARR</div>
    </div>
    <div class="navbar-right">
      <a href="" class="navbar-hamburger link-unstyled">☰</a>
      <ul class="navbar-link-container">
        <li><a data-scroll href="#work" class="navbar-link link-unstyled">Work</a></li>
        <li><a data-scroll href="#education" class="navbar-link link-unstyled">Education</a></li>
        <li><a data-scroll href="#projects" class="navbar-link link-unstyled">Projects</a></li>
        <li><a data-scroll href="#contact" class="navbar-link link-unstyled">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
