{% assign data=include.data_file %}
<section class="section">

  <div class="row">
    <div class="sidebar col col-3">
      <h2 class="section-title">{{ data.section_title }}</h2>
    </div>

    <div class="content col col-9">
      <div class="point"></div>
      {% for element in data.content %}

        {% if element.type == 'project' %}
          <div class="project-link">
            <a href="{{ element.href }}">Find out more about {{ element.title }}</a>
          </div>
        {% else %}
          <p>{{ element.text }}</p>
        {% endif %}

      {% endfor %}
    </div>
  </div>
</section>
