.contact {
  label {
    display: block;
    margin-bottom: 10px;
  }

  #contact-name,
  #contact-email,
  #contact-message {
    display: block;
    margin-bottom: 20px;
    width: 60%;

    @include breakpoint(mobile) {
      width: 100%;
    }
  }

  .contact-submit-wrapper {
    margin: $global-vertical-padding-mobile 0;
  }
}
