.footer {
  left: 0;
  right: 0;
  background-color: #333;
  color: $text-color-light;
  font-weight: 300;

  .footer-title {
    color: #fff;
    font-size: 1.5em;
    border-left: 3px solid $highlight-color;
    padding-left: 20px;
    margin-bottom: 60px;
  }

  .footer-links {
    list-style-type: none;
    overflow: hidden;

    li {
      padding: 5px 0;

      a {
        font-weight: 300;
      }
    }
  }

  .footer-grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
  }

  .footer-grid-left {
    -ms-flex: 1;
    flex: 1;
    min-width: 25%;
  }

  .footer-grid-right {
    -ms-flex: 2;
    flex: 2;
    text-align: right;
  }

  .footer-links-title {
    margin-bottom: 20px;
    font-weight: 300;
    color: #fff;
  }

  @include breakpoint(mobile) {
    .footer-grid-left {
      min-width: 50%;
    }

    .footer-grid-right {
      text-align: left;
      margin-top: 40px;
    }
  }
}
