.projects {
  .projects-wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 40px;
    height: 100%;

    @include breakpoint(desktop) {
      grid-template-columns: repeat(2, auto);
    }

    @include breakpoint(mobile) {
      grid-template-columns: auto;
    }
  }

  .project {
    background-color: #fff;
    overflow: hidden;
    border: 1px solid $shadow-color;
    padding-bottom: 40px;
    position: relative;
  }

  .project-image {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  .project-content {
    padding: 0 20px;
  }

  .project-title {
    margin-bottom: 15px;
    letter-spacing: normal;
  }

  .project-link {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
  }
}
