.projects {
  .projects-wrapper {
    height: 100%;

    @include grid;
  }

  .project {
    background-color: #fff;
    overflow: hidden;
    border: 1px solid $shadow-color;
    padding-bottom: 40px;
    position: relative;

    @include grid-item(3);

    @include breakpoint(desktop) {
      @include grid-item(2);
    }

    @include breakpoint(mobile) {
      @include grid-item(1);
    }
  }

  .project-image {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  .project-content {
    padding: 0 20px;
  }

  .project-title {
    margin-bottom: 15px;
    font-weight: 400;
  }

  .project-link {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
  }
}
