#thanks {
  text-align: center;

  .title {
    font-size: 60px;
    text-transform: none;
    margin-bottom: $global-vertical-padding / 2;
    font-weight: $font-weight-light;
  }

  @include breakpoint(mobile) {
    .title {
      font-size: 30px;
    }
  }
}
