* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  background-color: $body-color;
  color: $text-color;
}

a,
a:active,
a:focus,
a:visited {
  color: $highlight-color;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-color 0.3s;
}

a:hover {
  border-color: $highlight-color;
}

.container {
  max-width: $desktop-breakpoint;
  margin: 0 auto 50px;
  padding: 0 $global-horizontal-padding;
}