* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $fonts;
  color: $text-color;
  background-color: $body-color;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-weight: $font-weight-normal;
  letter-spacing: $letter-spacing;
}

p {
  font-size: 18px;
  font-weight: $font-weight-light;
  line-height: 30px;
  margin-bottom: 30px;
}

a:not(.link-unstyled),
a:not(.link-unstyled):active,
a:not(.link-unstyled):focus,
a:not(.link-unstyled):visited {
  color: $text-color;
  font-weight: $font-weight-normal;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-color $transition-length;

  &.link-light {
    color: $text-color-light;
  }
}

a:not(.link-unstyled):hover {
  cursor: pointer;
  border-color: $text-color;

  &.link-light {
    border-color: $text-color-light;
  }
}

.container {
  max-width: map-get($mq-breakpoints, desktop);
  margin: 0 auto;
  padding: $global-vertical-padding $global-horizontal-padding;

  @include mq($until: mobile) {
    padding: $global-vertical-padding-mobile $global-horizontal-padding;
  }

  &-no-padding {
    padding: 0 $global-horizontal-padding;
  }
}

.section {
  &-dark {
    background-color: $body-color-dark;
    color: $text-color-light;

    .heading {
      color: $heading-color-light;
    }

    .subtitle {
      color: $text-color-light;
    }
  }
}

.heading {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;

  @include mq($until: mobile) {
    font-size: 26px;
  }
}

.subtitle {
  text-align: center;
  margin-bottom: $global-vertical-padding;

  @include mq($until: mobile) {
    margin-bottom: $global-vertical-padding-mobile;
  }
}

.btn,
a.btn {
  display: inline-block;
  cursor: pointer;
  border: 1px solid $shadow-color;
  padding: 10px 15px;
  text-decoration: none;
  background: none;
  font-weight: $font-weight-normal;
  transition:
    border $transition-length,
    box-shadow $transition-length,
    background $transition-length,
    color $transition-length;

  &:hover {
    border-color: transparent;
    box-shadow: $shadow;
    background-color: #fff;
  }
}

.btn-light,
a.btn-light {
  color: #fff;
  border: 1px solid #fff;

  &:hover {
    color: $text-color;
    background-color: #fff;
  }
}
