$header-height: 60px;
$global-horizontal-padding: 20px;

$mobile-breakpoint: 500px;
$desktop-breakpoint: 1024px;
$container-width: $desktop-breakpoint - ($global-horizontal-padding * 2);

$text-color: #666;
$header-color: #FFF;
$body-color: #EEE;
$body-color-dark: #444;
$shadow-color: rgba(0, 0, 0, 0.2);
$highlight-color: #7a74de;
