/*
 * Grid system
 *
 * Adapted from https://www.sitepoint.com/understanding-css-grid-systems/
 */

$max-columns: 12;
$margin: 1.6%;
$single-column-width: (100 - ($margin * ($max-columns - 1))) / $max-columns;

.row,
.col {
  box-sizing: border-box;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.col {
  position: relative;
  float: left;
  margin-bottom: $margin;
  margin-right: $margin;
}

.row > .col:last-of-type {
  margin-right: 0;
}

@for $i from 1 through $max-columns {

  $column-width: ($single-column-width * $i) + ($margin * ($i - 1));

  .col-#{$i} {
    width: $column-width;
  }

  $nth-expression: $max-columns / $i;

  .col-#{$i}:nth-of-type(#{$nth-expression}n) {
    margin-right: 0;
  }
}
