.header {
  background-color: $header-color;
  box-shadow: 0 5px 25px $shadow-color;
  width: 100%;
  overflow: hidden;

  .header-wrapper {
    max-width: $desktop-breakpoint;
    margin: 0 auto;
  }

  .logo {
    float: left;
    line-height: $header-height;

    a {
      display: inline-block;
      height: $header-height;
      padding: 0 $global-horizontal-padding;
      text-decoration: none;
      transition: box-shadow 0.3s, color 0.3s;

      &:hover {
        box-shadow: 5px 0 25px #DDD;
      }
    }
  }

  .nav {
    float: right;

    ul > li {
      display: inline-block;
      list-style-type: none;
    }

    ul > li > a {
      display: block;
      padding: 0 $global-horizontal-padding;
      line-height: $header-height;
      text-decoration: none;
      transition: all 0.3s;

      &:hover {
        color: #000;
        box-shadow: -5px 0 25px #DDD;
      }
    }
  }
}