.jumbotron {
  color: $heading-color-light;
  box-shadow: 0 15px 30px $shadow-color;
  text-align: center;
  margin: $global-vertial-padding auto 0;
  padding: 100px 80px;
  background-image: url('/assets/jumbotron-background.jpg');
  background-size: cover;
  background-position: 0 50%;

  .greeting,
  .job-title {
    text-transform: none;
    text-shadow: $shadow;
  }

  .greeting {
    font-size: 70px;
    margin-bottom: 20px;
    letter-spacing: 3px;
  }

  .job-title {
    display: inline-block;
    font-size: 20px;
    font-weight: $font-weight-light;
    border: 1px solid #fff;
    padding: 10px 15px;
    letter-spacing: 5px;
  }
}
