.jumbotron {
  color: #fff;
  box-shadow: 0 15px 30px $shadow-color;
  text-align: center;
  margin: 70px auto 0;
  padding: 100px 80px;
  background-image: url('/assets/jumbotron-background.jpg');
  background-size: cover;
  background-position: 0 50%;

  .headline,
  .subtitle {
    text-shadow: 0 5px 15px $shadow-color;
  }

  .headline {
    font-size: 70px;
    margin-bottom: 20px;
    font-weight: 400;
    letter-spacing: 3px;
  }

  .subtitle {
    display: inline-block;
    font-size: 20px;
    font-weight: 300;
    border: 1px solid #ddd;
    padding: 10px 15px;
    letter-spacing: 5px;
  }
}
