#not-found {
  text-align: center;

  .status-code {
    font-size: 160px;
    color: $body-color;
    text-shadow: 0 5px 15px $shadow-color;
    margin-bottom: $global-vertical-padding / 2;
  }

  .message {
    font-size: 30px;
    margin-bottom: $global-vertical-padding / 2;
  }

  @include mq($until: mobile) {
    .status-code {
      font-size: 100px;
      margin-bottom: 30px;
    }

    .message {
      font-size: 18px;
      margin-bottom: 30px;
    }
  }
}
