$project-colors: (
  circleci-build-monitor: #42c88a,
  dissertation: #dec398,
  social-sheffield: #e79623,
  academicus: #7a6190,
  london-power-tunnels: #225b90
);

.projects {
  clear: both;
  background-color: $body-color-dark;
  padding: 50px 0;

  .heading {
    text-align: center;
    text-shadow: 0 5px 15px $shadow-color;
    color: #FFF;
    font-size: 28px;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .subtitle {
    text-align: center;
    color: #BBB;
    margin-bottom: 50px;
    font-weight: 300;
    letter-spacing: 1px;
  }

  .project {
    text-align: center;
    padding: 0 20px 40px;
    transition: background-color 0.3s;

    .project-image {
      height: 150px;
      display: block;
      background-color: #FFF;
      box-shadow: 0 15px 30px $shadow-color;
      margin-bottom: 20px;
    }

    .project-title {
      color: #FFF;
      letter-spacing: 1px;
      font-weight: 400;
      margin-bottom: 15px;
    }

    .project-description {
      color: #BBB;
      font-weight: 300;
      margin-bottom: 25px;
    }

    .project-link {
      font-size: 14px;
      padding: 5px 10px;
      color: #FFF;
      border: 1px solid #FFF;
      transition: all 0.3s;

      &:hover {
        background-color: $highlight-color;
        border-color: $highlight-color;
        box-shadow: 0 5px 15px $shadow-color;
      }
    }

    // @each $name, $color in $project-colors {
    //   &-#{$name}:hover {
    //     background-color: $color;
    //   }
    // }
  }
}
