$project-colors: (
  circleci-build-monitor: #42c88a,
  dissertation: #dec398,
  social-sheffield: #e79623,
  academicus: #7a6190,
  london-power-tunnels: #225b90
);

.projects {
  clear: both;
  background-color: $body-color-dark;
  padding: 50px 0;

  .heading {
    color: #fff;
  }

  .subtitle {
    color: #bbb;
  }

  .project {
    text-align: center;
    padding: 0 20px 40px;
    transition: background-color 0.3s;

    .project-image {
      width: 100%;
      display: block;
      background-color: #fff;
      box-shadow: 0 15px 30px $shadow-color;
      margin-bottom: 20px;
    }

    .project-title {
      color: #fff;
      letter-spacing: 1px;
      font-weight: 400;
      margin-bottom: 15px;
    }

    .project-description {
      color: #bbb;
      font-weight: 300;
      margin-bottom: 25px;
    }

    .project-link {
      font-size: 14px;
      padding: 5px 10px;
      color: #fff;
      border: 1px solid #fff;
      transition: all 0.3s;

      &:hover {
        background-color: $highlight-color;
        border-color: $highlight-color;
        box-shadow: 0 5px 15px $shadow-color;
      }
    }

    // @each $name, $color in $project-colors {
    //   &-#{$name}:hover {
    //     background-color: $color;
    //   }
    // }
  }
}
