$spacing: 20px;

.section {
  line-height: 30px;

  .sidebar,
  .content {
    vertical-align: top;
    padding: 30px 0;
    font-weight: 300;
  }

  .sidebar {
    text-align: right;
    padding-right: $spacing;

    h2 {
      font-size: 20px;
      letter-spacing: 1px;
      font-weight: 400;
    }
  }

  .content {
    border-left: 1px solid $shadow-color;
    padding-left: $spacing * 2;
    font-size: 16px;
    margin-bottom: 0;

    .point {
      position: absolute;
      top: 35px;
      left: -10px;
      background-color: $highlight-color;
      width: 10px;
      height: 10px;
      border-radius: 10px;
      box-sizing: content-box;
      border: 5px solid $body-color;
    }

    p {
      margin-bottom: 30px;
    }

    .project-link {
      text-align: center;
      margin: 40px auto;

      a {
        border: 1px solid $shadow-color;
        padding: 10px 15px;
        text-decoration: none;
        transition: all 0.3s;

        &:hover {
          border-color: transparent;
          box-shadow: 0 5px 15px $shadow-color;
        }
      }
    }
  }
}