label,
input,
textarea {
  font-family: $fonts;
  font-size: $font-size-body;
  color: $text-color;
  font-weight: $font-weight-light;

  @include breakpoint(mobile) {
    font-size: $font-size-body-mobile;
  }
}

label {
  display: block;
  margin-bottom: 10px;
}

input:not([type="submit"]) {
  height: 40px;
}

textarea {
  height: 250px;
}

input:not([type="submit"]),
textarea {
  width: 60%;
  margin-bottom: 20px;
  border: 1px solid $shadow-color;
  box-shadow: none;
  transition:
    border $transition-length,
    box-shadow $transition-length;
  background-color: #fff;
  outline: none;
  padding: 10px;
  resize: vertical;
  border-radius: 0;
  -webkit-appearance: none;
  display: block;

  &:focus {
    border-color: transparent;
    box-shadow: $shadow;
  }

  @include breakpoint(mobile) {
    width: 100%;
  }
}

input[type="submit"] {
  display: inline-block;
  cursor: pointer;
  border: 1px solid $shadow-color;
  background-color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  font-weight: $font-weight-normal;
  margin: 20px 0;
  border-radius: 0;
  -webkit-appearance: none;
  transition:
    border $transition-length,
    box-shadow $transition-length;

  &:hover {
    border-color: transparent;
    box-shadow: $shadow;
  }
}
