label,
input,
textarea {
  font-family: $fonts;
  font-size: $font-size-body;
  color: $text-color;
  font-weight: $font-weight-light;

  @include breakpoint(mobile) {
    font-size: $font-size-body-mobile;
  }
}

input:not([type="submit"]),
textarea {
  height: 40px;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid $shadow-color;
  box-shadow: none;
  transition:
    border $transition-length,
    box-shadow $transition-length;
  background-color: #fff;
  outline: none;
  padding: 10px;
  resize: vertical;

  &:focus {
    border-color: transparent;
    box-shadow: $shadow;
  }
}

textarea {
  height: 250px;
}

input:not([type=checkbox]):not([type=radio]),
textarea {
  border-radius: 0;
  -webkit-appearance: none;
}
