// Breakpoints
$breakpoints: (
  mobile: 768px,
  desktop: 1024px
);

@mixin breakpoint($breakpoint) {
  @media (max-width: #{map-get($breakpoints, $breakpoint)}) {
    @content;
  }
}

// Spacing
$global-vertical-padding: 70px;
$global-vertical-padding-mobile: 40px;
$global-horizontal-padding: 20px;

// Colours
$text-color: #000;
$text-color-light: #bbb;
$heading-color-light: #fff;
$body-color: #fff;
$body-color-dark: #4e4e4e;
$shadow-color: rgba(0, 0, 0, 0.15);
$highlight-color: #ff9800;

// Text
$fonts: 'Lato', serif;
$font-weight-normal: 400;
$font-weight-light: 300;
$font-size-heading: 36px;
$font-size-heading-mobile: 26px;
$font-size-body: 18px;
$font-size-body-mobile: 16px;
$letter-spacing: 1px;

// Other
$transition-length: 0.3s;
$shadow: 0 5px 15px $shadow-color;
