$gutter: 20px;

@mixin grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -#{$gutter};
  margin-right: -#{$gutter};
}

@mixin grid-item($cols) {
  margin: $gutter;
  width: calc((100% / #{$cols}) - (#{$gutter} * 2));
}
