.hero {
  height: 80vh;
  width: 100%;
  color: #fff;
  text-align: center;

  &::before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('/assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-color: $body-color-dark;
  }

  .hero-content {
    padding: 0 $global-horizontal-padding;
    top: 45%;
  }

  .name {
    font-size: 100px;
    margin-bottom: $global-vertical-padding / 2;

    .first {
      font-weight: 600;
    }

    .surname {
      font-weight: 300;
    }
  }

  .job-title {
    display: inline-block;
    font-size: 20px;
    font-weight: $font-weight-light;
    border: 1px solid #fff;
    padding: 10px 15px;
    letter-spacing: 5px;
  }

  $chevron-thickness: 2px;
  $chevron-size: 20px;

  @keyframes chevron-bounce {
    0% { bottom: 3%; }
    10% { bottom: 5%; }
    20% { bottom: 3%; }
  }

  .chevron {
    width: $chevron-size * 2;
    height: $chevron-size * 2;
    color: #fff;
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: $font-weight-light;
    font-size: 40px;
    animation: chevron-bounce 5s ease 2s infinite;
    display: none;
  }

  .chevron::before {
    content: '';
    position: absolute;
    left: 50%;
    width: $chevron-size;
    height: $chevron-size;
    border-top: solid $chevron-thickness currentColor;
    border-right: solid $chevron-thickness currentColor;
    transform: translateX(-50%) rotate(135deg);
  }

  @include mq($until: mobile) {
    height: 100vh;

    .name {
      font-size: 50px;
      margin-bottom: $global-vertical-padding / 4;
    }

    .job-title {
      font-size: $font-size-body-mobile;
      padding: 5px 10px;
      letter-spacing: 3px;
    }

    .chevron {
      display: block;
    }
  }
}
